-- 1. Tạo Database IDB mới
CREATE DATABASE IDB_HeThongCu;
GO
USE IDB_HeThongCu;
GO

-- 2. Tạo bảng Văn Phòng Đại Diện
CREATE TABLE Van_Phong_Dai_Dien (
    Ma_TP INT PRIMARY KEY,
    Ten_TP NVARCHAR(100),
    Dia_Chi_VP NVARCHAR(255),
    Bang NVARCHAR(50),
    Thoi_Gian_Thanh_Lap DATE
);

-- 3. Tạo bảng Khách Hàng (Bảng Cha)
CREATE TABLE Khach_Hang (
    Ma_KH INT PRIMARY KEY,
    Ten_KH NVARCHAR(100),
    Ma_TP INT FOREIGN KEY REFERENCES Van_Phong_Dai_Dien(Ma_TP),
    Ngay_Dat_Hang_Dau_Tien DATE
);

-- 4. Tạo bảng KH Du Lịch (Bảng Con)
CREATE TABLE KH_Du_Lich (
    Ma_KH INT PRIMARY KEY FOREIGN KEY REFERENCES Khach_Hang(Ma_KH),
    Huong_Dan_Vien NVARCHAR(100),
    Thoi_Gian DATE
);

-- 5. Tạo bảng KH Bưu Điện (Bảng Con)
CREATE TABLE KH_Buu_Dien (
    Ma_KH INT PRIMARY KEY FOREIGN KEY REFERENCES Khach_Hang(Ma_KH),
    Dia_Chi_Buu_Dien NVARCHAR(255),
    Thoi_Gian_Them_KH DATE
);

-- 6. Tạo bảng Cửa Hàng
CREATE TABLE Cua_Hang (
    Ma_CH INT PRIMARY KEY,
    Ma_TP INT FOREIGN KEY REFERENCES Van_Phong_Dai_Dien(Ma_TP),
    So_Dien_Thoai NVARCHAR(20),
    Thoi_Gian DATE
);

-- 7. Tạo bảng Mặt Hàng
CREATE TABLE Mat_Hang (
    Ma_MH INT PRIMARY KEY,
    Mo_Ta NVARCHAR(MAX),
    Kich_co NVARCHAR(20),
    Trong_Luong FLOAT,
    Gia MONEY,
    Thoi_Gian_Nhap DATE
);

-- 8. Tạo bảng Mặt Hàng Lưu Trữ (Kho N-N)
CREATE TABLE Mat_Hang_Luu_Tru (
    Ma_CH INT FOREIGN KEY REFERENCES Cua_Hang(Ma_CH),
    Ma_MH INT FOREIGN KEY REFERENCES Mat_Hang(Ma_MH),
    So_Luong INT,
    Thoi_Gian_Luu_Tru DATE,
    PRIMARY KEY (Ma_CH, Ma_MH)
);

-- 9. Tạo bảng Đơn Đặt Hàng
CREATE TABLE Don_Dat_Hang (
    Ma_Don INT PRIMARY KEY,
    Ngay_Dat DATE,
    Ma_KH INT FOREIGN KEY REFERENCES Khach_Hang(Ma_KH)
);

-- 10. Tạo bảng Mặt Hàng Được Đặt (Chi tiết đơn N-N)
CREATE TABLE Mat_Hang_Duoc_Dat (
    Ma_Don INT FOREIGN KEY REFERENCES Don_Dat_Hang(Ma_Don),
    Ma_MH INT FOREIGN KEY REFERENCES Mat_Hang(Ma_MH),
    So_Luong INT,
    Gia_Tien MONEY,
    Thoi_Gian_Dat DATE,
    PRIMARY KEY (Ma_Don, Ma_MH)
);


-- sửa lại tên trường thời gian cho 1 số bảng:
USE IDB_HeThongCu;
GO

-- 1. Đổi tên ở bảng Cửa Hàng
EXEC sp_rename 'Cua_Hang.Thoi_Gian', 'Ngay_Thanh_Lap_CH', 'COLUMN';

-- 2. Đổi tên ở bảng Văn Phòng Đại Diện
EXEC sp_rename 'Van_Phong_Dai_Dien.Thoi_Gian_Thanh_Lap', 'Ngay_Thanh_Lap_VP', 'COLUMN';

-- 3. Đổi tên ở bảng Mặt Hàng
EXEC sp_rename 'Mat_Hang.Thoi_Gian_Nhap', 'Ngay_Bat_Dau_Ban', 'COLUMN';

-- 4. Đổi tên ở bảng Khách Hàng Du Lịch
EXEC sp_rename 'KH_Du_Lich.Thoi_Gian', 'Thoi_Gian_Them_KH', 'COLUMN';

GO
