-- ========================================================
-- 1. TẠO CƠ SỞ DỮ LIỆU
-- ========================================================
CREATE DATABASE KhoDuLieu_BanHang;
GO

USE KhoDuLieu_BanHang;
GO

-- ========================================================
-- 2. TẠO CÁC BẢNG DIMENSION (BẢNG CHIỀU)
-- ========================================================

-- Tạo bảng dùng chung: Địa Điểm (Outrigger Dimension)
CREATE TABLE Dim_DiaDiem (
    MaTP INT PRIMARY KEY,
    Bang NVARCHAR(100),
    TenTP NVARCHAR(100),
    DiachiVP NVARCHAR(255)
);
GO

-- Tạo bảng Khách Hàng (Tham chiếu đến Địa Điểm)
CREATE TABLE Dim_KhachHang (
    MaKH INT PRIMARY KEY,
    TenKH NVARCHAR(100),
    LoaiKH NVARCHAR(50),
    MaTP INT,
    FOREIGN KEY (MaTP) REFERENCES Dim_DiaDiem(MaTP)
);
GO

-- Tạo bảng Cửa Hàng (Tham chiếu đến Địa Điểm)
CREATE TABLE Dim_CuaHang (
    MaCH INT PRIMARY KEY,
    SoDienThoai NVARCHAR(20),
    MaTP INT,
    FOREIGN KEY (MaTP) REFERENCES Dim_DiaDiem(MaTP)
);
GO

-- Tạo bảng Mặt Hàng
CREATE TABLE Dim_MatHang (
    MaMH INT PRIMARY KEY,
    KichCo NVARCHAR(50),
    TrongLuong FLOAT,
    GiaBan DECIMAL(18, 2),
    MoTa NVARCHAR(255)
);
GO

-- Tạo bảng Thời Gian
CREATE TABLE Dim_ThoiGian (
    KhoaTG INT PRIMARY KEY,
    Nam INT,
    Thang INT,
    Tuan INT
);
GO

-- ========================================================
-- 3. TẠO CÁC BẢNG FACT (BẢNG SỰ KIỆN)
-- ========================================================

-- Tạo bảng Sự kiện: Bán Hàng (Chỉ có 3 chiều theo đúng thiết kế)
CREATE TABLE Fact_BanHang (
    MaKH INT,
    MaMH INT,
    KhoaTG INT,
    SoLuongHangDat INT,
    TongTien DECIMAL(18, 2),
    -- Ràng buộc Khóa ngoại
    FOREIGN KEY (MaKH) REFERENCES Dim_KhachHang(MaKH),
    FOREIGN KEY (MaMH) REFERENCES Dim_MatHang(MaMH),
    FOREIGN KEY (KhoaTG) REFERENCES Dim_ThoiGian(KhoaTG)
);
GO

-- Tạo bảng Sự kiện: Tồn Kho
CREATE TABLE Fact_TonKho (
    MaCH INT,
    MaMH INT,
    KhoaTG INT,
    SoLuongTon INT,
    -- Ràng buộc Khóa ngoại
    FOREIGN KEY (MaCH) REFERENCES Dim_CuaHang(MaCH),
    FOREIGN KEY (MaMH) REFERENCES Dim_MatHang(MaMH),
    FOREIGN KEY (KhoaTG) REFERENCES Dim_ThoiGian(KhoaTG)
);
GO